.example-container {
  min-height: 100vh;
  width: 100%;
}

.main-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.sidenav {
  min-width: 250px;
}

.content {
  height: 87.3vh;
  width: 100%;
  padding: 1em;
}

header {
  // padding: 0.5em;
  display: flex;
  align-items: center;

  h3 {
    margin: 0;
    font-weight: 500;
  }

  mat-toolbar-row {
    display: flex;
    justify-content: space-between;
  }
}

.mat-icon {
  color: rgba(0, 0, 0, 0.8);
}

.right {
  display: flex;
  align-items: center;
}

.status-header {
  display: flex;
  width: 9%;
  justify-content: space-between;
  align-items: center;
}
